@import url(normalize.css);

/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;/***/
    font-family: 'Raleway';/**/
    margin: 0;
    padding: 0;
    line-height: 1;/**/
    color: #464646;
    overflow-x: hidden;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: red;*/
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    position:fixed;
    top: 0%;
    right: 0%;
    width: 100%;
    /* gap:1%; */
    height: 50px;
    /* padding: 10px 10px; */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(226, 156, 250);
}

.menu__header{
    display: flex;
    align-items: center;
    gap: 10px;
    /* background-color: blue; */
    

}

.menu__header img{
    /*background-color: blue;*/
    height: 22px;

}

.menu__list{
    /*background-color: blue;*/
    display: none;


}

.menu__list li a{
    color: #464646;

}

/*Sección Title*/

section.title{
    
    display: flex;
    padding: 20px 20px;
    align-items: center;
    margin-top: 20px;
    /*background-color: aqua;*/
}

.title__profile{
    /*background-color: #000;*/
    height: 98px;
    
}
.title__container h3{
    font-weight: 100;
}

.title__network{
    display: flex;
    flex-direction: row;
    /*align-self: auto;*/
    font-weight: 600;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
    /*width: 100%;*/
    
    
}




/*Sección About*/

section.about{

}

/*Skills*/

section.skills{

}

.skills__line{
    display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 16px;
}


/*Sección Hobbies*/

section.hobbies{
    
}

.hobbies__line{
    display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 16px;
}

/* Experiencia Académica*/

section.academic{

}
.academic__courses{
    display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 16px;
        /*background-color: blue;*/
}
.academic__courses__list{
    /*display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 16px;
        background-color: blue;*/
}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Desktop*/
@media (min-width: 1024px) {

    /* Menú */
    section.menu{
        padding: 20px 100px;
    }

    .menu__header{
        font-size: 16px;
    }

    .menu__list{
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 16px;

    }

    .menu__list__item__contato{
        display: none;
    }

    /*title*/

    section.title{
        
        display: flex;
        padding: 20px 20px;
        align-items: center;
        /*background-color: aqua;*/
    }

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

}

/*Tablet*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}